/**
 * Resources:
 * https://material.io/guidelines/material-design/elevation-shadows.html#elevation-shadows-elevation-android
 * - dimensions for mobile/tablet/desktip
 * https://getmdl.io/index.html
 * - components
 * https://material.io/guidelines/style/typography.html#typography-other-typographic-guidelines
 * - font sizes, lineheight, Colors & contrast for title, headline, subheading, button, etc
 * - generator => https://google-webfonts-helper.herokuapp.com/fonts/roboto?subsets=latin
 * - https://www.maketecheasier.com/use-google-roboto-font-everywhere/
 * - http://stackoverflow.com/questions/23915849/how-to-use-roboto-light-thin-from-google-fonts-in-chrome
 * - http://tobiasahlin.com/typesource/08-fall-collection/
 */

/**
 * https://storage.googleapis.com/material-design/publish/material_v_11/assets/0Bzhp5Z4wHba3bEwtTE1STENUMzA/stickersheet_components_20170314.psd
 */

:root {
    --height-8px:   8px;
    --height-16px: 16px;
    --height-24px: 24px;
    --height-48px: 48px;
    --height-56px: 56px;
    --height-64px: 64px;
    --height-72px: 72px;
    --height-80px: 80px;
    --height-88px: 88px;

    --color-8px:  #ff4081;
    --color-16px: #9effff;
    --color-24px: #10b2b2;
    --color-48px: #0488d2;
    --color-56px: #3e4fb1;
    --color-64px: #ffeb3b;
    --color-72px: #4f2ca5;
    --color-80px: #34ac71;
    --color-88px: #00796c;

    --key-lines :  16px;
    --fixed-width: 56px;

    --global-color: #172351;
    --global-fontsize: 16px;
}

/**
 * http://google.github.io/material-design-icons/
 */
.icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

/** Reset **/
html {
    margin: 0;
    padding: 0;
    color: var(--global-color);
    font-size: var(--global-fontsize);
}

/** Font Family **/
com-header,
com-subheader,
com-list {
    font-family: Roboto;
}

/** Keylines **/
com-header,
com-subheader {
    padding: 0 var(--key-lines);
}

/** Display **/
com-header,
com-subheader{
    display: flex;
    align-items: center;
}

/** Components **/

com-header {
    height: var(--height-56px);
    background-color: var(--color-56px);
}

com-subheader {
    height: var(--height-48px);
    background-color: var(--color-48px);
}

com-icon {}
com-list {}

com-listitem{}

/** Compositions (components) **/

com-header {

    h1 { width: 35vw }

    /** Order **/
    h1 { order: 1 }
    com-icon[name="menu"]{ order: 0 }
    com-icon[name="search"]{ order: 2 }
    com-icon[name="favorite"]{ order: 3 }
    com-icon[name="shopping_cart"]{ order: 4 }

    com-icon, h1 {
        flex-shrink:1;
        flex-grow:1;
    }

    /** Dimension burger **/
    com-icon[name="menu"  ]{
        flex-basis: var(--fixed-width);
        flex-shrink:0;
        flex-grow:0;
    }

    com-icon[name="search"],
    com-icon[name="favorite"],
    com-icon[name="shopping_cart"]{
        text-align: right;
    }
}