/**
 * @Research/Todos:
 * - Material Fonts
 * -- generator => https://google-webfonts-helper.herokuapp.com/fonts/roboto?subsets=latin
 * -- https://www.maketecheasier.com/use-google-roboto-font-everywhere/
 * -- http://stackoverflow.com/questions/23915849/how-to-use-roboto-light-thin-from-google-fonts-in-chrome
 * -- http://tobiasahlin.com/typesource/08-fall-collection/
 * - Typo
 * -- https://zellwk.com/blog/rem-vs-em/
 * -- font sizes, lineheight, Colors & contrast for title, headline, subheading, button, etc
 * --- https://material.io/guidelines/style/typography.html#typography-other-typographic-guidelines
 * - Clearance (Abstand), States(default, acitive, etc), Icons
 * -- https://material.io/guidelines/style/icons.html#icons-system-icons
 * - Components (Vendor)
 * -- https://material.io/guidelines/resources/sticker-sheets-icons.html
 * -- https://getmdl.io/index.html
 * - Icon Riple
 * -- Ripple effekt von buttons/icons
 * -- https://material.io/guidelines/components/buttons.html#buttons-toggle-buttons
 * -- https://material.io/guidelines/motion/choreography.html#choreography-radial-reaction
 * - Elevation & shadows
 * -- https://material.io/guidelines/material-design/elevation-shadows.html#elevation-shadows-elevation-android
 */

/**
 * https://storage.googleapis.com/material-design/publish/material_v_11/assets/0Bzhp5Z4wHba3bEwtTE1STENUMzA/stickersheet_components_20170314.psd
 */

:root {
    --height-8px:   8px;
    --height-16px: 16px;
    --height-24px: 24px;
    --height-48px: 48px;
    --height-56px: 56px;
    --height-64px: 64px;
    --height-72px: 72px;
    --height-80px: 80px;
    --height-88px: 88px;

    --icon-dim    :  24px;
    --icon-area-d :  40px;
    --icon-area   :  44px;
    --icon-live   :  48px;

    --color-8px:  #ff4081;
    --color-16px: #9effff;
    --color-24px: #10b2b2;
    --color-48px: #0488d2;
    --color-56px: #3e4fb1;
    --color-64px: #ffeb3b;
    --color-72px: #4f2ca5;
    --color-80px: #34ac71;
    --color-88px: #00796c;

    --border-color: blue;
    --circle-color: #0c3189;

    --fixed-incr  : 56px;
    --key-line    : 16px;
    --delimiter   : 8px;

    --global-color: #172351;
    --global-fontsize: 16px;
}

/**
 * http://google.github.io/material-design-icons/
 */
.icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: var(--icon-dim);  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: rtl;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

/** Reset **/
html {
    margin: 0;
    padding: 0;
    color: var(--global-color);
    font-size: var(--global-fontsize);
    font-family: Roboto;
    background-color: #69969C;
}

/*************/
/** Options **/
/*************/
.flex-order-0  {order:  0}
.flex-order-1  {order:  1}
.flex-order-2  {order:  2}
.flex-order-3  {order:  3}
.flex-order-4  {order:  4}
.flex-order-5  {order:  5}
.flex-order-6  {order:  6}
.flex-order-7  {order:  7}
.flex-order-8  {order:  8}
.flex-order-9  {order:  8}
.flex-order-10 {order: 10}

[delimiter] {
    margin-bottom: var(--delimiter);
}
/****************/
/** com-header **/
/****************/
com-header {
    display: flex;
    align-items: center;
    height: var(--height-56px);
    background-color: var(--color-56px);
}
com-header {
    h1 {
        flex: 1 1;
    }
    com-icon:nth-of-type(1){
        /* keylines */
        /* 48px(icon)+24px = 72px(key-line); */
        margin-right: 24px;
    }
}
/**************/
/** com-icon **/
/**************/
com-icon,
com-icon > span {
    display:flex;
    justify-content: center;
    align-items: center;
}
com-icon > span {
    width: var(--icon-live);
    height: var(--icon-live);
}
com-icon[circle] > span {
    background-color: var(--circle-color);
    border-radius: 50%;
    width: var(--icon-area-d);
    height: var(--icon-area-d);
}

/**************/
/** com-List **/
/**************/
com-list {
    display:block;
    cursor: pointer;
}

/******************/
/** com-listitem **/
/******************/
com-listitem[line="single"] {
    height: var(--height-48px);
    background-color: var(--color-48px);
}
com-listitem[circle] {
    height: var(--height-56px);
    background-color: var(--color-56px);
}
com-listitem[circle] com-icon {
    margin-left: var(--key-line);
}
com-listitem[circle] com-icon {
    margin-right: var(--key-line);
}
com-listitem,
com-listitem > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
com-listitem > div {
    flex: 1 1;
}
com-listitem > div {
    border-bottom: 1px solid var(--border-color)
}
com-listitem:last-child > div {
    border-bottom: 0;
}
com-listitem > com-icon:nth-of-type(1){
    /* keylines */
    /* 48px(icon)+24px = 72px(key-line); */
    margin-right: 24px;
}

/***************/
/** Subheader **/
/***************/
com-subheader {
    display: flex;
    align-items: center;
    height: var(--height-48px);
    background-color: var(--color-48px);
    padding-left: var(--key-line);
}