/**
 * @Research/Todos:
 * - Material Fonts
 * -- generator => https://google-webfonts-helper.herokuapp.com/fonts/roboto?subsets=latin
 * -- https://www.maketecheasier.com/use-google-roboto-font-everywhere/
 * -- http://stackoverflow.com/questions/23915849/how-to-use-roboto-light-thin-from-google-fonts-in-chrome
 * -- http://tobiasahlin.com/typesource/08-fall-collection/
 * - Typo
 * -- https://zellwk.com/blog/rem-vs-em/
 * -- font sizes, lineheight, Colors & contrast for title, headline, subheading, button, etc
 * --- https://material.io/guidelines/style/typography.html#typography-other-typographic-guidelines
 * - Clearance (Abstand), States(default, acitive, etc), Icons
 * -- https://material.io/guidelines/style/icons.html#icons-system-icons
 * - Components (Vendor)
 * -- https://material.io/guidelines/resources/sticker-sheets-icons.html
 * -- https://getmdl.io/index.html
 * - Icon Riple
 * -- Ripple effekt von buttons/icons
 * -- https://material.io/guidelines/components/buttons.html#buttons-toggle-buttons
 * -- https://material.io/guidelines/motion/choreography.html#choreography-radial-reaction
 * - Elevation & shadows
 * -- https://material.io/guidelines/material-design/elevation-shadows.html#elevation-shadows-elevation-android
 */

/**
 * https://storage.googleapis.com/material-design/publish/material_v_11/assets/0Bzhp5Z4wHba3bEwtTE1STENUMzA/stickersheet_components_20170314.psd
 */

:root {
    --height-8px:   8px;
    --height-16px: 16px;
    --height-24px: 24px;
    --height-48px: 48px;
    --height-56px: 56px;
    --height-64px: 64px;
    --height-72px: 72px;
    --height-80px: 80px;
    --height-88px: 88px;

    --title-begin :  72px;

    --icon-dim    :  24px;
    --icon-area   :  40px;
    --icon-live   :  48px;

    --color-8px:  #ff4081;
    --color-16px: #9effff;
    --color-24px: #10b2b2;
    --color-48px: #0488d2;
    --color-56px: #3e4fb1;
    --color-64px: #ffeb3b;
    --color-72px: #4f2ca5;
    --color-80px: #34ac71;
    --color-88px: #00796c;

    --border-color: blue;
    --circle-color: #0c3189;

    --fixed-incr  : 56px;
    --key-line    : 16px;
    --delimiter   : 8px;
    --ext-buffer  : 4px;

    --global-color: #172351;
    --global-fontsize: 16px;
}

/**
 * http://google.github.io/material-design-icons/
 */
.icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: var(--icon-dim);  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: rtl;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

/** Reset **/
html {
    margin: 0;
    padding: 0;
    color: var(--global-color);
    font-size: var(--global-fontsize);
    font-family: Roboto;
    background-color: #69969C;
}
a {
    /* do not show blue border on click a-link */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*************/
/** Options **/
/*************/
.flex-order-0  {order:  0}
.flex-order-1  {order:  1}
.flex-order-2  {order:  2}
.flex-order-3  {order:  3}
.flex-order-4  {order:  4}
.flex-order-5  {order:  5}
.flex-order-6  {order:  6}
.flex-order-7  {order:  7}
.flex-order-8  {order:  8}
.flex-order-9  {order:  8}
.flex-order-10 {order: 10}

[delimiter] {
    margin-bottom: var(--delimiter);
}

/*************/
/** com-app **/
/*************/
com-app {
    display: flex;
    flex-flow: column;
    height: 100%;
}

/************/
/** header **/
/************/
header {
    display: flex;
    align-items: center;
    height: var(--height-56px);
    background-color: var(--color-56px);

    h1 {
        flex: 1 1;
    }
    com-icon:nth-of-type(1){
        /* keylines */
        /* 48px(icon)+24px = 72px(key-line); */
        margin-right: 20px;
        /* extra buffer */
        margin-left: var(--ext-buffer);;
    }
    com-icon:last-child {
        /* extra buffer */
        margin-right: var(--ext-buffer);;
    }
}

/***************/
/** Subheader **/
/***************/
com-subheader {
    display: flex;
    align-items: center;
    height: var(--height-48px);
    background-color: var(--color-48px);
    padding-left: calc(var(--key-line) + 4px);
}

/**************/
/** com-icon **/
/**************/
com-icon,
com-icon > span {
    display:flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
}

/*********************************************************/
/** com-icon - default dimensions (height, width) in ul **/
/*********************************************************/
com-icon.default > span {
    width: var(--icon-live);
    height: var(--icon-live);
}

/********************************************************/
/** com-icon - circle dimensions (height, width) in ul **/
/********************************************************/
com-icon.circle {
    border-radius: 50%;
    background-color: var(--circle-color);
    width: var(--icon-area);
    height: var(--icon-area);
}

/**************/
/** com-List **/
/**************/
ul[is="com-list"] {

    li, li > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }

    /**************************/
    /*** title description ***/
    /**************************/
    li {
        com-icon.circle.licon + div {
            margin-left: var(--key-line);
        }
        > div {
            flex: 1 1 auto;
            margin-left: calc(var(--key-line) + var(--ext-buffer));
            border-bottom: 1px solid var(--border-color);
        }
        &:last-child > div {
            border-bottom: 0;
        }
    }

    /*************/
    /** dimensons listitem (li) **/
    /*************/
    &.xsmall li {
        height: var(--height-48px);
        background-color: var(--color-48px);
    }
    &.small li {
        height: var(--height-56px);
        background-color: var(--color-56px);
    }
    &.medium li {
        height: var(--height-72px);
        background-color: var(--color-72px);
    }
    &.large li {
        height: var(--height-80px);
        background-color: var(--color-80px);
    }

    /********************/
    /*** default icon ***/
    /********************/
    com-icon.default.licon {
        margin-left: var(--ext-buffer);
    }
    com-icon.default.ricon {
        margin-right: var(--ext-buffer);
    }

    /************/
    /** circle icon **/
    /************/
    com-icon.circle.licon {
        margin-left: var(--key-line);
    }
    com-icon.circle.ricon {
        margin-right: var(--key-line);
    }
}

/**************/
/** notes **/
/**************/
p {
    padding: 0 var(--key-line);
    background-color: white;
}